log_facility=daemon

pid_file=/var/run/nrpe/nrpe.pid

server_port=5666

#server_address=127.0.0.1

nrpe_user=nrpe

nrpe_group=nrpe

allowed_hosts=127.0.0.1,%MASTER%

dont_blame_nrpe=1

allow_bash_command_substitution=0

# command_prefix=/usr/bin/sudo

debug=0

command_timeout=60

connection_timeout=300
#allow_weak_random_seed=1
#include=<somefile.cfg>
include_dir=/etc/nrpe.d/
command[check_load]=/usr/lib64/nagios/plugins/check_load -w $ARG1$ -c $ARG2$
#command[check_disk]=/usr/lib64/nagios/plugins/check_disk -w $ARG1$ -c $ARG2$ -p $ARG3$
#command[check_procs]=/usr/lib64/nagios/plugins/check_procs -w $ARG1$ -c $ARG2$ -s $ARG3$